* {
  transition-duration: 1s;
  transition-timing-function: linear;
}

body {
  background-color: #252525;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.text {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textTime {
  fill: #f4f4f4;
  text-anchor: middle;
  /* alignment-baseline: middle; */
  font-size: 6rem;
}

.outerRing {
  fill: none;
  stroke-width: 8px;
  stroke-dasharray: 1.57px;
  opacity: .5;
}

.crown {
  stroke-width: 10px;
}

.hands {
  stroke-width: 3px;
}

.tick {
  stroke-width: 2px;
}

.triangle {
  fill: #ee2560;
}
