* {
  -webkit-transition: all .2s;
  transition: all .2s;
}

body {
  background-color: #252525;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.text {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.textTime {
  fill: #f4f4f4;
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 3rem;
  font-weight: 100;
}

.outerRing {
  fill: none;
  stroke-dasharray: 1.588;
  opacity: .314;
} 

.hands {
  stroke-width: 3px;
}

.tick {
  stroke-width: 2px;
}

.triangle {
  fill: #ee2560;
}
